.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButtons_repeat{
    padding: 3vw !important;
    color: brown !important;
}
.swipeButtons_left{
    padding: 3vw !important;
    color: rgb(108, 142, 235) !important;
}
.swipeButtons_star{
    padding: 3vw !important;
    color: rgb(207, 37, 37) !important;
}
.swipeButtons_right{
    padding: 3vw !important;
    color: rgb(193, 221, 31) !important;
}
.swipeButtons_lightning{
    padding: 3vw !important;
    color: rgb(233, 8, 147) !important;
}